server:
  host: localhost
  port: 8080
  # debug/test/release
  mode: debug
database:
  host: 192.168.110.2
  port: 33061
  username: root
  password: root
  dbname: stake
redis:
  addr: localhost:3306
  password: 123
  db: 0
eth:
  rpc_url: https://sepolia.infura.io/v3/XXX
  ws_url: wss://sepolia.infura.io/ws/v3/XXX
  stake_address: 0x0
  # 该填合约部署区块
  start_block: 10986812